<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" html lang="en">
<!--<>-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Users manager</title>
</head>

<body>
<div align="center">
    <th:block th:each="msg : ${messages}">
        <h2 th:text="${msg}"></h2>

    </th:block>
    <br/>
    <h3><a href="/registration">New user registration</a></h3>
    <br/>
    <br/>
    <h3><a href="/admin">Admin panel</a></h3>
</div>
</body>
</html>