<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"lang="en">
<!--<>-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Users manager</title>
</head>

<body>
<div align="right" sec:authorize="isAuthenticated()">
    <h2><a th:href="@{/logout}" role="button">Logout</a></h2>
</div>
<div align="center">
    <h2 th:text="${tableHeader}"></h2>
    <br/>

    <table border="1" cellpadding="10">

        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>E-mail</th>
            <th>Action</th>
            <th>Action</th>
        </tr>

        <tr th:each="user : ${allUsersList}">
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getUsername()}">Username</td>
            <td th:utext="${user.getPassword()}">Password</td>
            <td th:utext="${user.getEmail()}">E-mail</td>
            <td><a th:href="@{'/admin/edit/' + ${user.id}}">Edit</a></td>
            <td><a th:href="@{'/admin/delete/' + ${user.id}}">Delete</a></td>

        </tr>

    </table>

</div>

</body>

</html>