<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>User adding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
<div align="center">
<h2 th:text="${header}"></h2>
<br/>

    <form action="#" th:action="@{/save}" th:object="${user}" method="POST">
        <table border="0">
            <tr><td><strong>Firstname</strong></td></tr>
            <tr>
                <td><input type="text" th:field="*{firstname}" required/></td>
                <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname Error</td>
            </tr>

            <tr><td><strong>Lastname</strong></td></tr>
            <tr>
                <td><input type="text" th:field="*{lastname}" required/></td>
                <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</td>
            </tr>

            <tr><td><strong>Age</strong></td></tr>
            <tr>
                <td><input type="number" th:field="*{age}" required pattern="^[ 0-9]+$" min="1" max="128" size = "30"/></td>
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
            </tr>

            <tr><td><strong>Email</strong></td></tr>
            <tr>
                <td><input type="email" th:field="*{username}" required/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">E-mail Error</td>

            </tr><td><strong>Password</strong></td></tr>
            <tr>
                <td><input type="text" th:field="*{password}" required/></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </tr>

            </tr><td><strong>Role</strong></td></tr>
            <tr><td>
                <select size="2" class="form-control" th:field="*{flagRole}" id="flagRole">
                    <option th:value="${2}">Admin </option>
                    <option selected th:value="${1}">User</option>
                </select>
            </td></tr>

            <tr>
                <td colspan="4"><button type="submit" class="btn btn-success my-2">Add new user</button></td>
            </tr>
        </table>
    </form>

</div>
</body>

</html>